__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git
.github
.vscode
.idea
docs/
*.md
migrated_notebooks/

belong/ml/models/
*.ipynb
*.exe
ngrok.exe
*.gguf
models/*.gguf
gguf_models/
belong/ml/gguf_models/
belong/ml/output/
belong/ml/llama.cpp/
belong/ml/dataset/processed/
belong/ml/dataset/raw_data/
