alembic
blinker
click
colorama

dnspython
email-validator
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy<3.1
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
joblib
langchain
langchain-community
langchain-text-splitters
Mako
MarkupSafe
pandas
PyJWT
python-dateutil
python-dotenv
pytz
scikit-learn
scipy
SQLAlchemy<2.0
statsmodels
patsy
threadpoolctl
transformers==4.41.2
sentencepiece
protobuf
tzdata
Werkzeug
WTForms
xgboost
psycopg2-binary
pdfplumber
PyPDF2
