langchain
langchain-community
chromadb
sentence-transformers
python-docx
pypdf
fastapi
uvicorn
python-multipart
transformers==4.39.2
peft==0.10.0
accelerate==0.29.0
bitsandbytes==0.43.1
scipy
pdfplumber
PyPDF2
trl==0.8.6
datasets
rich
mcp
